
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}


{% assign on_out = true %}
{% if product.available %}
{% assign on_out = false %}
{% endif %}




{% if block.settings.single_banner_enable %}
<div class="col-lg-{{ block.settings.single_banner_coloum }} col-md-4 col-sm-4 col-xs-12">
  <div class="tab-img">
    <a href="{{ block.settings.banner_img_url }}"><img src="{% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: 'grande' }}{% else %}http:\/\/via.placeholder.com\/ 270x620{% endif %}" alt="banner" /></a>
  </div>
</div>
{% endif %}
<div class="col-lg-{{ block.settings.tab_coloum }} col-md-8 col-sm-8 col-xs-12">

  <div class="tab-active tab-active-new">
    <!-- single-tab-start -->

    {% assign collection = collections[block.settings.collection] %}
    {% for product in collection.products %}

    {% assign variant = product.selected_or_first_available_variant %}
    {% if product.available %}
    {% assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" %}
    {% endif %}                   

    <div class="single-tab">
      <div class="tab-text">
		<p class="product-single__vendor">{{ product.vendor }}</p>
    	{% assign current_variant = product.selected_or_first_available_variant %}
		<span class="variant-sku">{{ current_variant.sku }}</span>
        <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>

        <div class="tab-price">
          <ul>
            {% if on_sale %}
            <li><span class="new-price">{{ product.price | money }}</span></li>
            <li><span class="old-price">{{ product.compare_at_price | money }}</span></li>
            {% else %}
            <li><span class="new-price">{{ product.price | money }}</span></li>
            {% endif %}
          </ul>
        </div>

        {% if product.description contains '[affiliate_link]' %}
        {% assign affiliate_link_first = product.description | split:'[/affiliate_link]' | first %}
        {% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}
        <a href="{{ affiliate_link_final }}">{{ settings.add_to_cart_button_title }}</a>
        {% else %}
        <a class="cart__menu" href="javascript:void(0);" onclick="{{ func }}; return false;" title="{{ 'products.product.add_to_cart' | t }}">{{ settings.add_to_cart_button_title }}</a>
        {% endif %}

      </div>

      <div class="single-tab-img">
        <a href="{{ product.url | within: 'collection' }}"><img src="{{ product.featured_image.src | img_url : 'large' }}" alt="product-img" /></a>
      </div>

    </div>
    <!-- single-tab-start -->
    {% endfor %}

  </div>
</div>


