{% assign related_product_limit_count = section.settings.related_product_limit_handle %}
{% assign related_product_limit = related_product_limit_count | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign product_found = false %}

{% for c in product.collections %}
{% if product_found == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign product_found = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}

{% endif %}

{% if collection and collection.products_count > 1 and section.settings.related_products_enable %}
<!-- onsaleproduct-area-start -->
<div class="onsaleproduct-area single-product-padding" id="onlsale-{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{ section.settings.collection_title }}</h2>
        </div>
        <div class="saleproduct-active upsell-product-active">

          {% assign current_product = product %}
          {% assign current_product_count = false %}

          {% for product in collection.products limit: related_product_limit %}
            {% if product.handle == current_product.handle %}
              {% assign current_product_count = false %}
            {% else %}
              {% unless current_product_count == true and forloop.last %}
                {% include 'product-grid-related-item' %}
              {% endunless %}
            {% endif %}
          {% endfor %}  
        
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- onsaleproduct-area-end -->
{% endif %}


<style>
 
  #onlsale-{{ section.id }}.single-product-padding{
    padding-top:{{ section.settings.section_padding_top }}px;
  }
   #onlsale-{{ section.id }}.single-product-padding{
    padding-bottom:{{ section.settings.section_padding_bottom }}px;
  }
  
  
</style> 




<script>
  
  /*----------------------------
 saleproduct-active
------------------------------ */  
  $("#onlsale-{{ section.id }} .upsell-product-active").owlCarousel({
      autoPlay: false, 
	  slideSpeed:2000,
	  pagination:false,
	  navigation:true,	  
      items : {{ section.settings.product_coloum }},
	  /* transitionStyle : "fade", */    /* [This code for animation ] */
	  navigationText:["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
      itemsDesktop : [1199,{{ section.settings.product_coloum }}],
	  itemsDesktopSmall : [992,{{ section.settings.product_coloum }}],
	  itemsTablet: [768,2],
	  itemsMobile : [479,1],
  });
  
</script>




{% schema %}
  {
    "name": "Related Product",
    "settings": [
		{
            "type": "checkbox",
            "id": "related_products_enable",
            "label": "Show Related Products",
            "default": true
        },
		{
  		  "type": "header",
  		  "content": "Section Padding"
  		},
        {
          "type": "text",
          "id": "section_padding_top",
          "label": "Section Padding Top",
          "default": "80" ,
          "info": "Defined in pixels. Do not add the 'px' unit."
        },
        {
          "type": "text",
          "id": "section_padding_bottom",
          "label": "Section Padding Bottom",
          "default": "80" ,
          "info": "Defined in pixels. Do not add the 'px' unit."
        },
		{
             "type": "text",
             "id": "collection_title",
             "label": "Related Product Title",
			 "default": "Related Products"
		},   
        {
            "type": "select",
            "id": "product_coloum",
            "label": "Product Limit",
            "options":[
              {
                "value":"3",
                "label": "3 products"
              },
              {
                "value":"4",
                "label": "4 products"
              },
              {
                "value":"5",
                "label": "5 products"
              },
              {
                "value":"6",
                "label": "6 products"
              }

            ],

            "default": "5"
        },
		{
            "type": "select",
            "id": "related_product_limit_handle",
            "label": "Product Limit",
            "options":[
				{
					"label": "3 Products",
					"value": "3"
				},
				{
					"label": "4 Products",
					"value": "4"
				},
				{
					"label": "6 Products",
					"value": "6"
				},
				{
					"label": "8 Products",
					"value": "8"
				},
				{
					"label": "10 Products",
					"value": "10"
				},
				{
					"label": "12 Products",
					"value": "12"
				},
				{
					"label": "14 Products",
					"value": "14"
				},
				{
					"label": "16 Products",
					"value": "16"
				},
				{
					"label": "Unlimited",
					"value": "100"
				}
			],
			"default": "4"
      	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
